<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@_zacharyrnewton" />
<link href="favicon.png" rel="shortcut icon" type="image/x-icon"/>
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<link href="zacharyrnewton-apple-icon.png" rel="apple-touch-icon"/>
